# Física Experimental: Erros e Incertezas

`Nomes:`
* Alice Vitória Boschetti
* Felipe Cordeiro Carvalho
* Gabriel Frigo Sena Silva
* Joyce Nunes Alves
* Eduardo Marques dos Santos
* Kimberly Oliveira Germano Ribeiro

## Import

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from IPython.display import display, Image
from PIL import Image

## Dataframe

In [2]:
df = pd.read_excel('./data/measures_data.xlsx')
df.head()

      D1     D2
0  18.50  18.60
1  18.53  18.63
2  19.51  19.51
3  19.40  19.40
4  18.60  18.62

In [3]:
df.shape

(100, 2)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   D1      100 non-null    float64
 1   D2      100 non-null    float64
dtypes: float64(2)
memory usage: 1.7 KB